@import 'nib'

body 
    
    font-family: Helvetica
    margin: 0px
    padding: 0px

    .button
        border: 1px solid #ccc
        border-radius: 4px
        cursor: pointer
        display: inline-block
        font-size: 12px
        margin: 8px
        padding: 8px

    .hide 
        display: none !important

    #editor        
        width: 640px
        height: 480px

    #execute-mongo-query, #preloader
        display: inline-block
        vertical-align: top

    #preloader
        background-image: url(/public/images/fading-dots.gif)
        margin: 8px        
        width: 32px
        height: 32px        






