@import 'nib'

body 
    
    font-family: Helvetica

    svg 
        height: 480px

    .button
        border: 1px solid #ccc
        border-radius: 4px
        cursor: pointer
        display: inline-block
        font-size: 12px
        margin: 8px
        padding: 8px

    .hide 
        display: none !important

    #execute-mongo-query, #preloader
        display: inline-block
        vertical-align: top

    #name
        background-color: rgba(0,255,0,0.1);
        border: 1px solid #ccc;
        font-size: 14px;
        margin: 0px 0px 8px 0px;
        padding: 4px;
        width: 630px;
        
    #preloader
        background-image: url(/public/images/fading-dots.gif)
        margin: 8px        
        width: 32px
        height: 32px        

    #presenter
        margin-top: 10px
        width: 640px
        height: 120px

    #query-editor        
        width: 640px
        height: 400px

    #result
        width: 640px

    #transformer
        margin-top: 10px
        width: 640px
        height: 240px
    
    

