doctype html
html(lang='en')
head
    title Mongo Web IDE
    link(rel='stylesheet', href='/public/index.css')
    script(src='/public/lib/prelude-browser-min/index.js', type='text/javascript')
    script(src='/public/lib/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/public/lib/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
    script(src='/public/lib/ace-builds/src-noconflict/ext-language_tools.js', type='text/javascript', charset='utf-8')
    script(src='/public/index.js', type='text/javascript')
body
    #editor
    #execute-mongo-query.button Execute
    pre#result
