body
    font-family: Helvetica;
    font-size: 16px;
    margin: 0px;
    padding: 0px;

	a
	    color: blue;
	    cursor: pointer;
	    text-decoration: underline;
	    
	li
	    margin: 0px 0px 10px 0px;
