<html>
	<head>
		<link rel="stylesheet" href="/node_modules/nvd3/nv.d3.css"/>
		<link rel="stylesheet" href="/public/styles/presentation.css">
		<link rel="stylesheet" href="/public/styles/presentation-context.css">
		<meta charset="utf8"/>
		<script type="text/plain" id="presentation"><%- presentation %></script>
		<script type="text/javascript">
			window.parameters = <%- JSON.stringify(parameters) %>
			window.transformedResult = <%- JSON.stringify(transformedResult) %>
		</script>
		<script type="text/javascript" src="/public/scripts/presentation.js"></script>
		<script type="text/javascript" src="http://cdn.mli.me/heatmap.min.js" data-ignore-build></script>
	</head>
	<body>		
	</body>
</html>