body
    background: #212121
    font-family: Helvetica;    

    > div   
        position: absolute
        left: 50%
        top: 50%
        width: 230px
        height: 50px

        > div 
            position: relative
            left: -50%
            top: -50%

    a
        background: linear-gradient(#4d4d4d, #2f2f2f)
        background-color: #666
        background-image: url(/public/images/octocat.png)
        background-position: 9px 8px
        background-repeat: no-repeat
        background-size: 41px
        border-radius: 5px
        border: 1px solid black
        color: white !important
        cursor: pointer
        display: inline-block
        font-size: 1.2em
        line-height: 1.2em
        outline: 0
        padding: 12px 16px 12px 58px
        text-align: center
        text-decoration: none

        // &:hover
        background-color: #fff
        background-position: 9px -61px
        color: black !important
