.mongodb-info
    
    > div:not(:last-child)
        margin-bottom 20px

    label 
        display inline-block
        margin-right 4px
        text-align right
        text-transform capitalize
        width 75px
        &:after 
            content: " : "

    select
        font-size larger
        width 250px

